
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');



/* for removing the underline from link */
*{
    text-decoration: none;
}

 body
 {

    margin:0;
    overflow: hidden;    
   
 }


#border
{
    width:100vw;
    height:100vh;
    border:0.5px solid grey;
    background-image: url("../Images/BackGrounds/BG1.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

 #logo
{
   position:absolute;
   z-index:15;
   right:375px;
   top:170px;

}

#innerborder
{
    border: 1px solid white;  
    width:420px;
    height:400px;
    /* padding: 30px 5px 30px 0;  */
    /* margin: 40px 0 0 5px ; */
    margin: 100px auto;
    border-radius: 20px 120px 20px 20px;
    backdrop-filter: blur(10px); 
    position:absolute;
    z-index:10;
    right:450px;
} 

.glassmorph{
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(8px);
	border: 5px solid transparent;
	box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, .1);
	background-clip: padding-box; 
}

#heading
{
    padding: 30px 0 0 5px ;
    font-size:40px;
    color:rgb(92, 70, 172);  

}

#list
{
    list-style-type: none;
    line-height: 300%;
    padding: 5px 0 0 25px ;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: 100;
    font-size:18px;
    
}

#list a:link{
    color: rgb(92, 70, 172);
}

#list a:active{
    color:rgb(189, 38, 63);
 
}

